@{
	ViewData["Title"] = "CERTIFICATIONS";
}

<h2>@ViewData["Title"]</h2>
<br />
<div>
	<ul>
		<li>
			<p>	Software University: C#, Java, JS, CSS, HTML, SQL</p>
		</li>
		<li>
			<p>New Horizons Computer Learning Centers: HTML, CSS3, JavaScript & Responsive Design</p>
		</li>
		<li>
			<p>David Holding AD: Курс по програмиране за напреднали</p>
		</li>
		<li>
			<p>David Holding AD: Курс по информационни технологии</p>
		</li>
		<li>
			<p>David Holding AD: Курс по програмиране на C#</p>
		</li>
	</ul>
</div>
<br />