@{
	ViewData["Title"] = "EDUCATION";
}

<h2>@ViewData["Title"]</h2>
<br />
<div class="row">
	<div class="col-md-6">
		<div>New Bulgarian University</div>
		<p>Computer science</p>
		<span class="text-primary">2015 - </span>
		<span class="text-primary" style="font-weight: bold;">Now</span>
	</div>
</div>
<br />
<div class="row">
	<div class="col-md-6">
		<div>Software University</div>
		<p>C#, Java, JS, CSS, HTML, SQL courses</p>
		<span class="text-primary">2014 - 2016</span>
	</div>
</div>
<br />
<div class="row">
	<div class="col-md-6">
		<div>ПМГ "Н. Обрешков" - Казанлък</div>
		<p>Computer science</p>
		<span class="text-primary">2009 - 2014</span>
	</div>
</div>
<br />