@{
	ViewData["Title"] = "EXPERIENCE";
}

<h2>@ViewData["Title"]</h2>
<br />
<div class="row">
	<div class="col-md-6">
		<div>Developer</div>
		<div>David Holding AD</div>
		<p>Specializing in Microsoft .NET software development.</p>
		<span class="text-primary">January 2014 - </span>
		<span class="text-primary" style="font-weight: bold;">Now</span>
	</div>
</div>
<br />