@{
	ViewData["Title"] = "Petar Petrov";
}
<h1 style="text-transform: uppercase;">
	Petar&nbsp;<span style="color: #bf5a16; font-weight: bold;">Petrov</span>
</h1>
<div>
	Developer · (359) 889-333-333 ·
	<a href="mailto:petarpetrovt@gmail.com" class="text-primary" style="font-size: 15px;">petarpetrovt@gmail.com</a>
</div>
<br />
<div class="row">
	<div class="col-md-3">
		<img class="img-responsive" style="max-width:200px;" src="~/images/placeholder.jpg" alt="my image" />
	</div>
	<div class="col-md-9">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis consequat libero et ultricies.
			Morbi interdum auctor nisl. Integer rutrum lacinia ante vitae tincidunt.
			Proin varius libero vitae erat finibus elementum.
			Cras in vehicula felis, ac vehicula elit.
			Cras sed sapien iaculis erat volutpat dignissim.
			In magna metus, pharetra ut mattis id, gravida sed augue.
			Maecenas mattis est tellus, eu fermentum tellus pharetra eget. Morbi fermentum consequat elit quis rutrum.
			Mauris a magna luctus, euismod nibh nec, semper tellus. Sed at purus nec nulla pulvinar rutrum vel a tellus.
			Nullam eget felis mauris. Proin elementum erat vel laoreet accumsan.
		</p>
	</div>
</div>
<div class="row">
	<div class="col-md-offset-3 col-md-9">
		<a href="https://github.com/petarpetrovt" target="_blank" rel="nofollow" style="font-size: 40px;">
			<i class="devicons devicons-github_badge"></i>
		</a>
		<a href="https://stackoverflow.com/users/3323071/ptp" target="_blank" rel="nofollow" style="font-size: 40px;">
			<i class="devicons devicons-stackoverflow"></i>
		</a>
	</div>
</div>
<br />
<div class="row">
	<div class="col-md-12">

	</div>
</div>
<br />
