@{
	ViewData["Title"] = "INTERESTS";
}

<h2>@ViewData["Title"]</h2>
<br />
<p>
	Apart from being a developer, I enjoy most of my time being outdoors.
	In the winter, I am an novice snowboarder. <br />
	During the warmer months here in Bulgaria, I enjoy mountain biking.
</p>
<p>
	When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows. <br />
	I spend a large amount of my free time exploring the latest technology advancements.
</p>
<br />