@{
	ViewData["Title"] = "SKILLS";
}

<h2>@ViewData["Title"]</h2>
<h6>PROGRAMMING LANGUAGES &amp; TOOLS</h6>
<br />
<div>
	<ul class="list-inline list-icons">
		<li>
			<i class="devicons devicons-dotnet"></i>
		</li>
		<li>
			<i class="devicons devicons-visualstudio"></i>
		</li>
		<li>
			<i class="devicons devicons-html5"></i>
		</li>
		<li>
			<i class="devicons devicons-css3"></i>
		</li>
		<li>
			<i class="devicons devicons-javascript"></i>
		</li>
		<li>
			<i class="devicons devicons-jquery"></i>
		</li>
		<li>
			<i class="devicons devicons-msql_server"></i>
		</li>
		<li>
			<i class="devicons devicons-bootstrap"></i>
		</li>
		<li>
			<i class="devicons devicons-less"></i>
		</li>
	</ul>
	<br />
	<div class="subheading">Workflow</div>
	<ul>
		<li>
			<p>Front-end HTML5, CSS 3, JS, TS</p>
		</li>
		<li>
			<p>Back-end C#, ASP.NET CORE, SQL, PHP</p>
		</li>
		<li>
			<p>Agile Development &amp; Scrum</p>
		</li>
	</ul>
</div>
<br />